/*******HEADER*******/

#mainContent {
	position: relative;
	margin: 80px 15px 50px;
	min-height: 50%;

}
.nav-item {
	font-size: 1.25rem;
	color:#111111;
}
select {
	    padding: 4px 8px;
}
#login__btn {
	vertical-align: top;
	font-size: 1rem;
}

.icon-mv {
	    height: 20px;
}
html,
body {
    height: 100%;
	color:#111111;
}
.container {
	padding-top: 50px;
}

/*******FOOTER*******/
footer {
	position: relative;
	min-height: 80px;
    height: 60px;
    background-color: #f0f5fe;
/*	bottom: 0;
	margin-bottom: 0;*/

}